<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MATÉRIAS TRELLO</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

</head>
<%-include("partials/navbar")%>

<body>



  <table id="table_id" class="display">
    <thead>

    </thead>
    <tbody>

    </tbody>


    <tfoot></tfoot>

  </table>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

  <script>
    $(document).ready(function () {

      $('#table_id').DataTable({
        data: JSON.parse('<%-JSON.stringify(jornais)%>'),
        columns: [

          { title: "Index", data: "index" },
          { title: "Nome", data: "name" },
          { title: "Data Edição", data: "data" },
          { title: "Labels", data: "labels[0]" },
        ],

        rowCallback: (row, data) => {

          row.onclick = () => {
            const cardId = data.id;
            var f = document.createElement("form");
            f.setAttribute('method', "POST");
            f.setAttribute('action', `/card-attachments/${cardId}`);
            // f.style.display= 'h'
            var input = document.createElement("input"); //input element, text
            input.setAttribute('type', "text");
            input.setAttribute('name', "card");
            input.setAttribute('value', cardId);
            f.append(input)
            console.log(f)
            document.body.appendChild(f);
            f.submit();
          }
        }

      });
    });


  </script>
</body>

</html>