<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doema | Trello</title>
  <link rel="shortcut icon" type="image/x-icon" href="/document.ico"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;900&display=swap" rel="stylesheet">
  <style>

    body{
      font-family: 'Source Sans Pro', sans-serif;
    }
    header h1{
      font-weight: 900;
      color: rgb(18, 113, 221);
      font-size: 9rem;
    }

    main{
      padding: 20px;
      margin-top: 100px;
      
    }
    a[class="btn"] {
      display: block !important;
      padding: 20px;
      margin: 20px;
    }

    a {
      margin: 0 20px;
      display: block;
    }

    .btn-edicao {
      margin: 10px auto;
      width: 100%;
      padding: 20px;
    }

    p {
      font-size: 1.3em;
    }

    .img-container {}
  </style>
</head>


<%-include("partials/navbar")%>

  <body>

    <div class="container">

      <header style="text-align: center; margin-top: 20px; ">
        <h1 style="">DOEMA</h1>
        <h3>Matérias do Trello</h3>
      </header>


      <main>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <a href="/executivos" class="btn btn-lg btn-primary btn-edicao">
                <i class="fas fa-book"></i> EXECUTIVO</a>
            </div>
            <div class="row">
              <a href="/terceiros" class="btn btn-lg btn-primary btn-edicao">
                <i class="fas fa-book"></i>TERCEIROS</a>
            </div>
            <div class="row">
              <a href="/atos-casacivil" class="btn btn-lg btn-success btn-edicao">
                <i class="fas fa-book"></i>ATOS CASA CIVIL
              </a>
            </div>
            <div class="row">
              <a href="/terceiros-casacivil" class="btn btn-lg btn-success btn-edicao">
                <i class="fas fa-book"></i> MATÉRIAS CASA CIVIL TERCEIROS
              </a>
            </div>
          </div>
        </div>
      </main>
      </div>


    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
      src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


  </body>

</html>