<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <style>
    a[class="btn"] {
      display: block !important;
      padding: 20px;
      margin: 20px;
    }

    a {
      margin: 0 20px;
      display: block;
    }

    .btn-edicao {
      margin: 10px auto;
      width: 100%;
      padding: 20px;
    }

    p {
      font-size: 1.3em;
    }
  </style>
</head>


<%-include("partials/navbar")%>
  <input type="file" accept="image/*" capture="camera">

  <body>

    <div style="margin-top: 90px;" class="container">
      <header style="display: block;text-align: center;">
        <h1>Matérias DOEMA (TRELLO)</h1>
        <p>Aqui você irá encontrar todas as matérias do Trello divididadas por caderno e por data</p>
        <p>Basta Selecionar o caderno desejado e, em seguida, selecione a data da edição</p>
      </header>
      <div style="margin-top: 50px;" class="row"><a href="/executivos" class="btn btn-lg btn-primary btn-edicao"><i
            class="fas fa-book"></i> EXECUTIVO</a></div>
      <div class="row"><a href="/terceiros" class="btn btn-lg btn-primary btn-edicao"><i class="fas fa-book"></i>
          TERCEIROS</a></div>
      <div class="row"><a href="/atos-casacivil" class="btn btn-lg btn-success btn-edicao"><i class="fas fa-book"></i>
          ATOS CASA CIVIL </a></div>
      <div class="row"><a href="/terceiros-casacivil" class="btn btn-lg btn-success btn-edicao"><i
            class="fas fa-book"></i> MATÉRIAS CASA CIVIL TERCEIROS</a></div>

    </div>




    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
      src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


  </body>

</html>